/*
main colors
*/
$body-background: #efefef;
$blocks-background: white;
$blue-light: #eff4ff;
$dark-blue: #65849d;
$blue: #c1dafd;
$aqua: #c1dafd;
$body: #f8f2ed;

/*
svg icons
*/
$blue-gray: #3b4655;
$blue-gray-hover: #57677e;

$header-footer-height: 90px;
